{% macro render_post(post, single=False) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ post.datetime | dateformat("%d/%m/%y") }}
            </li>
            {% if single %}
            <li>
                <a href="{{ url_for('edit_post_get', post_id=post.id) }}">Edit</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            {% if single %}
            {{ post.title }}
            {% else %}
            <a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
            {% endif %}
        </h1>
        {{ post.content | safe }}
    </div>
</div>
{% endmacro %}
